<div class="center jumbotron">
  <h1>Welcome to Your Course App</h1>

  <h2>
    This is the home page for Your Course App.
  </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<div class="container">
  <%= link_to "Browse All courses", courses_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Browse All users", users_path, class: "btn btn-lg btn-primary" %>
</div>
  