<% provide(:title, @course.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="course_info">
      <h3>
        <%= @course.name %>
      </h3>
      <h3>
        Prerequisite: 
        <%= @course.prerequisite %>
      </h3>
      <div class="center jumbotron">
      <li>
        Category:
        <%= @course.category.name %>
      </li>
      <li>
        Location:
        <%= @course.location.name %>
      </li>
      </div>
    </section>
  </aside>
</div>