<li id="category-<%= category.id %>">
    <%= link_to category.course.name, category.course %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(category.course.created_at) %> ago.
  </span>
</li>